/* Universel Property */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    font-family: "Inter", sans-serif;;
}

/* Shared Property */




/* Part-1: Banner with Text */
.banner {
    background-image: url(images/Banner.png);
    height: 29rem;
    width: 65rem;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 3rem auto;
}

.new-year-wish {
    color: #0038f0;
    text-align: center;
    padding: 9rem 0;
}
.new-year-wish h3 {
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 1rem;
}
.new-year-wish h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 5rem;
}





/* Part-2: Discount-Section */
.discount {
    text-align: center;
    margin: 6rem 0 3rem 0;
}
.discount-percentage {
    color: #f00;
    font-size: 5.5rem;
    font-weight: 700;
    padding: 0 0 2rem 0;
}
.discount-description{
    color: #f00;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1rem;
}
.discount-categories {
    color: #070211;
    font-size: 3rem;
    font-weight: 700;
    padding: 0 0 2rem 0;
    
}
.discount-img {
    width: 50rem;
    height: 30rem;
}





.midnight-party {
    background-image: url(images/Vectorrr.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height:37rem;
    margin: 15px 100px;
    display: flex;
}

.midnight-party-title{
    color: #FFF;
    font-size: 4rem;
    font-weight: 900;
    line-height: 5.5rem; /* 137.5% */
    letter-spacing: 0.44rem;
}
.midnight-party-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem; /* 166.667% */
    padding: 20px 0;
}
#midnight{
    padding: 80px;
    position: relative;
    top: 50px;
    width: 80%;
}
.midnight-party-img {
    position: relative;
    top: 50px;
    right: 30px;
    width: 19.98938rem;
    height: 29.04138rem;
    padding: 2rem 0rem 0rem 0rem;
}
.midnight-party-btn{
    /* color: # FFF; */
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 30px;
}



/* Address section */

.address {
    text-align: center;
    height: 20rem;
    background-color: #ffe9e9;
    margin: 0 100px;
}

.address p {
text-align: center;
font-family: Inter;
font-size: 2rem;
font-weight: 600;
line-height: 3.5rem; /* 175% */
text-transform: capitalize;
padding: 50px 0px 20px 0;
}

.address p span {
    color: #F00;
}
.address-btn {
    padding: 10px 20px;
    border-radius: 6px;
    border-style: none;
    background-color: #F00;
    font-size: 1.25rem;
    color: white;
}





.new-offer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
    background-color: #FFF;
    margin: 15px 100px;
}
.new-offer-div1 {
    width: 30%;
}
.new-offer-img{
    width: 30%;
}
.new-offer-div2 {
}
.new-offer-img {
    position: relative;
    width: 28.9375rem;
    height: 28.9375rem;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 10px;
}
.image {
    width: 22.80275rem;
    height: 22.80275rem;
}

/* News Letter section */

.newsletter-section {
    text-align: center;
    padding: 50px 100px;
}
.newsletter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.newsletter, h1, p {
    padding-bottom: 10px;
}

.input-option {
    background-color: pink;
}
.input-option, input {
    padding: 10px;
    margin: 0;
}

/* Footer section */

.footer {
    background-color: #070211;
    height: 37rem;
    color: white;
}
.footer-container {
    padding: 70px 100px;
    display: flex;
    justify-content: space-between;
}

.footer-container p {
    font-size: 1.5rem;
    line-height: 3rem;
}
.footer-container img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 10px;
    text-align: center;
}

hr {
    margin: 0 100px;
    border-color: rgba(255, 255, 255, 0.15);
}

.footer-social {
    padding: 70px;
    text-align: center;
}
.footer-social img {
    padding: 0 10px;
}
.footer-copywright {
    padding: 70px 100px;
    display: flex;
    justify-content: space-between;
}
.footer-copywright p {
    font-size: 1.5rem;
}
.footer-copywright button {
    padding: 8px 15px;
    background-color: red;
    border-radius: 12px;
    font-size: 1.5rem;
    color: white;
    border-style: none;
}