* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
}

.banner {
    background-image: url(images/Banner.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height:37rem;
    margin: 15px 100px;
}
.happy-new-year-banner {
    position: relative;
    top: 190px;
}
.happy-new-year-title1{
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
}
.happy-new-year-title2 {
    color: #FFF;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 5.9375rem;
}


/* Discount-Section */
.discount {
    text-align: center;
}
.discount-percentage {
    color: #f00;
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
}
.discount-description{
    color: #f00;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 15px 0;
}
.discount-categories {
    color: #070211;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.discount-img {
    width: 50%;
}
.midnight-party {
    background-image: url(images/Vectorrr.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height:37rem;
    margin: 15px 100px;
    display: flex;
}

.midnight-party-title{
    color: #FFF;
    font-size: 4rem;
    font-weight: 900;
    line-height: 5.5rem; /* 137.5% */
    letter-spacing: 0.44rem;
}
.midnight-party-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem; /* 166.667% */
    padding: 20px 0;
}
#midnight{
    padding: 80px;
    position: relative;
    top: 50px;
    width: 80%;
}
.midnight-party-img {
    position: relative;
    top: 50px;
    right: 30px;
    width: 19.98938rem;
    height: 29.04138rem;
    padding: 2rem 0rem 0rem 0rem;
}
.midnight-party-btn{
    /* color: # FFF; */
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 30px;
}